<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="fetchAllProducts()" class="btn btn-sm btn-outline-info ml-2">All</button>
    </li>
    <li>
      <button (click)="selectedProducts()" class="btn btn-sm btn-outline-info ml-2">Selected</button>
    </li>
    <li>
      <button (click)="availableProducts()" class="btn btn-sm btn-outline-info ml-2">Available</button>
    </li>
    <li>
      <button (click)="createNewProduct()" class="btn btn-sm btn-outline-info ml-2">New Product</button>
    </li>
  </ul>
  <ul class="navbar navbar-nav ml-auto">
      <li>
        <form class="form-inline" #f= "ngForm" (ngSubmit)="searchProducts(f.value)">
            <input ngModel name="keyword" type="text" />
            <button class="btn btn-sm btn-outline-info ml-2">
              <i class="fa fa-search"></i>
            </button>
        </form>
      </li>
  </ul>
</nav>
<div class="container">
  <ng-container *ngIf="products$ | async as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      <button class="btn btn-dark" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="alert-danger">{{result.errorMessage}}</div>
    </ng-container>

    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <table class="table">
        <caption class="text-center">List of products</caption>
        <thead>
        <tr>
          <th>ID</th> <th>Name</th> <th>Price</th> <th>Quantity</th> <th>Selected</th> <th>Available</th>
          <th><i class="fa fa-address-card"></i></th><th>delete</th><th>edit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of result.data">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.selected}}</td>
          <td>{{product.available}}</td>

          <td>
            <button [ngClass]="product.selected?'btn btn-sm btn-outline-success':'btn btn-sm btn-outline-danger'"
                    (click)="getSelectedProduct(product)">
              <span *ngIf="!product.selected">Unselected</span>
              <span *ngIf="product.selected">selected</span>
            </button>
          </td>
          <td>
            <button class="btn btn-outline-danger" (click)="deleteProduct(product)">
              <i class="fa fa-trash"></i>
            </button>
          </td>

          <td>
            <button class="btn btn-outline-primary" (click)="editProduct(product)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>

        </tbody>
      </table>
    </ng-container>

  </ng-container>

</div>
